:root {
  --color-bg1: rgba(217, 170, 0, 0.55);
  --color-bg2: rgba(228, 34, 4, 0.55);
  --color-bg3: rgb(253, 237, 179);
  --color-button: rgba(188, 148, 3, 0.9);

  --color-bg1-dark: rgba(45, 76, 122, 0.8);
  --color-bg2-dark: rgba(0, 0, 0, 0.8);
  --color-bg3-dark: rgb(35, 35, 35);
  --color-button-dark: rgba(188, 148, 3, 0.9);

  --color-white: #fff;
  --color-text-light: rgba(255, 255, 255, 0.9);
  --color-text-dark: rgba(0, 0, 0, 0.9); /* New variable for dark text color */

  --transition: all 400ms ease;

  --container-height-lg: 310px;
  --container-width-md: 86%;
  --container-width-sm: 90%;
}

.memes-container {
  display: flex;
  flex-wrap: wrap;
}

.meme-image {
  width: 100%;
  height: auto;
}
.search_bar {
  margin: 0 auto;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 700px;
  background: var(--color-bg1);
  border-radius: 60px;
  padding: 10px 20px;
}
.search_bar input {
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 24px 20px;
  font-size: 20px;
  color: var(--color-white);
}
::placeholder {
  color: var(--color-light);
}
.search_bar button {
  border: 0;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background: var(--color-button);
  cursor: pointer;
}

.meme-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Display four columns */
  grid-gap: 20px;
}

.meme-item {
  z-index: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.meme-item:hover {
  background-color: none;
}

.meme-item.clicked {
  background-color: none;
}

.meme-item h2 {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
}

.meme-item .thumbnail {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
}

.meme-buttons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.meme-buttons button {
  margin-right: 10px;
  padding: 8px 16px;
  font-size: 14px;
  border-radius: 5px;
  background-color: var(--color-button);
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.meme-buttons button:hover {
  background-color: var(--color-bg2);
}
