:root {
  --color-bg1: rgba(217, 170, 0, 0.55);
  --color-bg2: rgba(228, 34, 4, 0.55);
  --color-bg3: rgb(253, 237, 179);
  --color-button: rgba(188, 148, 3, 0.9);

  --color-bg1-dark: rgba(45, 76, 122, 0.8);
  --color-bg2-dark: rgba(0, 0, 0, 0.8);
  --color-bg3-dark: rgb(35, 35, 35);
  --color-button-dark: rgba(188, 148, 3, 0.9);

  --color-white: #fff;
  --color-text-light: rgba(255, 255, 255, 0.9);
  --color-text-dark: rgba(0, 0, 0, 0.9); /* New variable for dark text color */

  --transition: all 400ms ease;

  --container-height-lg: 310px;
  --container-width-md: 86%;
  --container-width-sm: 90%;
}

header {
  margin-top: 20px;
  height: 40vh;
  overflow: hidden;
}

.edit__container {
  text-align: center;
  height: 100%;
  position: fixed;
}
.edit__container h5 {
  margin-top: 10px;
}

.cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

.editor {
  display: flex;
  height: 150vh;
  overflow: hidden;
  justify-content: center;
}

/* =================== MEDIA QUERIES (MEDIUM DEVICES) =================== */
@media screen and (max-width: 1024px) {
  header {
    height: 68vh;
  }
}

/* =================== MEDIA QUERIES (SMALL DEVICES) =================== */
@media screen and (max-width: 600px) {
  header {
    height: 68vh;
  }
}
.tui-image-editor-header {
  display: none;
}
.tui-image-editor-container .tui-image-editor-main {
  top: 0;
}
.button {
  position: absolute;
  top: 55%;
  right: 200px;
  transform: translateY(-50%);
}

.button button {
  /* Add your styles for the button here */
  background-color: #f4bc14;
  color: #fff;
  border-radius: 80px;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  margin-left: 20px;
}
