:root {
  --color-bg1: rgba(217, 170, 0, 0.55);
  --color-bg2: rgba(228, 34, 4, 0.55);
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.6);
  --color-button: rgba(188, 148, 3, 0.9);

  --transition: all 400ms ease;

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.dark-buttons {
  position: fixed;
  margin-top: 70px;
  z-index: 2;
  right: 0;
  margin-right: 30px;
}

.dark-buttons button {
 
  padding: 8px 16px;
  font-size: 18px;
  border-radius: 5px;
  background-color: var(--color-button);
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;  
  justify-items: right;
}

.dark-buttons button:hover {
  background-color: var(--color-bg2);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dark {
  background-color: #333;
  color:#fff;
}
.light {
  background-color: rgb(253, 237, 179);
  color: #333;
}

