.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

header {
  padding-top: 0;
  height: 45vh;
  margin-top: 0;
  overflow: hidden;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.dark-buttons {
  position: fixed;
  margin-top: 10px;
  z-index: 2;
  right: 0;
  margin-right: 30px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ---------------- MODIFICATIONS DARKMODE ---------------------*/

/*Background des deux pages*/
.dark {
  background-color: var(--color-bg3-dark);
  color: var(--color-text-light);
}

.light {
  background-color: var(--color-bg3);
  color: var(--color-text-dark);
}

/*En-tête de la page principale*/
.light .container {
  position: sticky;
  width: 100%;
  height: var(--container-height-lg);
  margin: 0 auto;
  top: 0px;
  z-index: 1;
  background-image: linear-gradient(var(--color-bg1), var(--color-bg2)),
    url("https://images.pexels.com/photos/4587828/pexels-photo-4587828.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-color: var(--color-bg1);
}

.dark .container {
  position: sticky;
  width: 100%;
  height: var(--container-height-lg);
  margin: 0 auto;
  top: 0px;
  z-index: 1;
  background-image: linear-gradient(
      var(--color-bg1-dark),
      var(--color-bg2-dark)
    ),
    url("https://images.pexels.com/photos/4587828/pexels-photo-4587828.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-color: var(--color-bg1-dark);
}

/*Logo en haut de la page*/
.light .black-logo {
  width: 420px;
}

.light .white-logo {
  width: 0%;
}

.dark .black-logo {
  width: 0%;
}

.dark .white-logo {
  width: 420px;
}

/*Barre de recherche*/
.light .search_bar {
  background-color: var(--color-bg1);
}

.dark .search_bar {
  background-color: var(--color-bg1-dark);
}

.light .search_bar button {
  background-color: var(--color-button);
}

.dark .search_bar button {
  background-color: var(--color-button-dark);
}

/*Noms des Memes*/
.dark .names {
  color: var(--color-text-light); /* Set the text color for dark mode */
}

.light .names {
  color: var(--color-text-dark); /* Set the text color for light mode */
}

/*Bouton darkmode*/
.light .dark-buttons button {
  padding: 8px 16px;
  font-size: 18px;
  border-radius: 5px;
  background-color: var(--color-button);
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  justify-items: right;
}

.light .dark-buttons button:hover {
  background-color: var(--color-bg2);
}

.dark .dark-buttons button {
  padding: 8px 16px;
  font-size: 18px;
  border-radius: 5px;
  background-color: var(--color-button-dark);
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  justify-items: right;
}

.dark .dark-buttons button:hover {
  background-color: var(--color-bg2-dark);
}

/*Boutons*/
.light .meme-buttons button {
  background-color: var(--color-button);
}

.light .meme-buttons button:hover {
  background-color: var(--color-bg2);
}

.dark .meme-buttons button {
  background-color: var(--color-button-dark);
}

.dark .meme-buttons button:hover {
  background-color: var(--color-bg2-dark);
}
