@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --color-bg1: rgba(217, 170, 0, 0.55);
  --color-bg2: rgba(228, 34, 4, 0.55);
  --color-bg3: rgb(253, 237, 179);
  --color-button: rgba(188, 148, 3, 0.9);

  --color-bg1-dark: rgba(45, 76, 122, 0.8);
  --color-bg2-dark: rgba(0, 0, 0, 0.8);
  --color-bg3-dark: rgb(35, 35, 35);
  --color-button-dark: rgba(28, 49, 73, 0.9);

  --color-white: #fff;
  --color-text-light: rgba(255, 255, 255, 0.9);
  --color-text-dark: rgba(0, 0, 0, 0.9); /* New variable for dark text color */

  --transition: all 400ms ease;

  --container-height-lg: 310px;
  --container-width-md: 86%;
  --container-width-sm: 90%;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--color-bg-light);
  color: var(--color-white);
  line-height: 1.7;
}

header .container h1,
h5 {
  font-size: 1.15rem;
  font-weight: 500;
  font-style: bold;
  color: #fff;
}

header .container h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  margin-top: 30px;
}

section {
  margin-top: 8rem;
}

section > h5 {
  text-align: center;
  color: var(--color-light);
}

.text-light {
  color: var(--color-light);
}
